extends ../layouts/application.pug

block content
  //–– Sólo mostramos "Register" si NO hay sesión activa
  if !isAuthenticated()
    a.btn.btn-primary.mb-3(href=route('newUser'))= t('views.user.new.signUp')

  table.table.table-striped
    thead
      tr
        th= t('views.user.id')
        th= t('views.user.name')
        th= t('views.user.email')
        th= t('views.user.createdAt')
        th.text-center Actions
    tbody
      each user in users
        tr
          td= user.id
          td= user.firstName + ' ' + user.lastName
          td= user.email
          td= formatDate(user.createdAt)
          td.text-center
            //–– Acciones sólo con sesión iniciada y solo para el propio usuario
            if isAuthenticated() && currentUser && Number(currentUser.id) === Number(user.id)
              a.btn.btn-sm.btn-secondary.mx-1(href=route('editUser', { id: user.id }))
                = t('views.user.edit.submit')
              
              form(action=route('deleteUser', { id: user.id }) method='post' style='display: inline-block')
                input(name='_method' type='hidden' value='DELETE')
                button.btn.btn-sm.btn-danger.mx-1(type='submit')
                  = t('views.user.delete.submit')