extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +input(user, 'firstName', errors)(type='text' placeholder=t('views.users.fields.firstName'))
    +input(user, 'lastName',  errors)(type='text' placeholder=t('views.users.fields.lastName'))
    +input(user, 'email',     errors)(type='text' placeholder=t('views.users.fields.email'))
    +input(user, 'password',  errors)(type='password' placeholder=t('views.users.fields.password'))
    +submit(user)(value=t('views.users.new.submit'))
