extends ../layouts/application.pug

block content
  h1.my-4= t('layouts.application.statuses')

  if isAuthenticated()
    a.btn.btn-primary.mb-4(href=route('newStatus'))= t('views.taskStatus.buttons.new')

  table.table.table-striped
    thead
      tr
        th= t('views.taskStatus.id')
        th= t('views.taskStatus.name')
        th= t('views.taskStatus.createdAt')
        if isAuthenticated()
          th.text-center= t('views.taskStatus.actions')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          if isAuthenticated()
            td.text-center
              a.btn.btn-sm.btn-secondary.mx-1(href=route('editStatus', { id: status.id }))
                = t('links.edit.name')
              
              form(action=route('deleteStatus', { id: status.id }) method='post' style='display: inline-block')
                input(name='_method' type='hidden' value='DELETE')
                button.btn.btn-sm.btn-danger.mx-1(type='submit')
                  = t('buttons.delete.name')