extends ../layouts/application.pug

block content
  h1.my-4= t('views.task.list.title')
  
  if isAuthenticated()
    a.btn.btn-primary.mb-4(href=route('newTask'))= t('views.task.create')
  
  //- Formulario de filtro
  .card.mb-4
    .card-header= t('views.task.filter.status')
    .card-body
      form(action=route('tasks') method='get')
        .row
          .col-md-3.mb-3
            label.form-label(for='data_status')= t('views.task.filter.status')
            select.form-select(name='status' id='data_status')
              option(value='')= t('views.task.select.default')
              each status in statuses || []
                - const isSelected = filter && filter.status && status.id === Number(filter.status)
                option(value=status.id selected=isSelected)= status.name
          
          .col-md-3.mb-3
            label.form-label(for='data_executor')= t('views.task.filter.executor')
            select.form-select(name='executor' id='data_executor')
              option(value='')= t('views.task.select.default')
              each user in users || []
                - const isSelected = filter && filter.executor && user.id === Number(filter.executor)
                option(value=user.id selected=isSelected)= user.firstName + ' ' + user.lastName
          
          .col-md-3.mb-3
            label.form-label(for='data_label')= t('views.task.filter.label')
            select.form-select(name='label' id='data_label')
              option(value='')= t('views.task.select.default')
              each label in labels || []
                - const isSelected = filter && filter.label && label.id === Number(filter.label)
                option(value=label.id selected=isSelected)= label.name

        .form-check.mb-3
          - const isCreatorChecked = filter && filter.isCreatorUser === 'on'
          input.form-check-input(type='checkbox' name='isCreatorUser' id='isCreatorUser' checked=isCreatorChecked)
          label.form-check-label(for='isCreatorUser')= t('views.task.filter.isCreatorUser')
        
        .d-flex
          button.btn.btn-outline-primary(type='submit')= t('buttons.show.name')
          
          //- Botón para restablecer filtros
          if filter && Object.keys(filter).length > 0
            a.btn.btn-outline-secondary.ms-2(href=route('tasks'))= t('views.task.filter.reset')
  
  table.table.table-striped
    thead
      tr
        th= t('views.task.id')
        th= t('views.task.name')
        th= t('views.task.status')
        th= t('views.task.creator')
        th= t('views.task.executor')
        th= t('views.task.labels')
        th= t('views.task.createdAt')
        if isAuthenticated()
          th.text-center= t('views.task.actions')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('showTask', { id: task.id }))= task.name
          td= task.status ? task.status.name : ''
          td= task.creator ? task.creator.firstName + ' ' + task.creator.lastName : ''
          td= task.executor ? task.executor.firstName + ' ' + task.executor.lastName : ''
          td
            if task.labels && task.labels.length > 0
              each label in task.labels
                span.badge.bg-info.me-1= label.name
          td= formatDate(task.createdAt)
          if isAuthenticated()
            td.text-center
              a.btn.btn-sm.btn-secondary.me-1(href=route('editTask', { id: task.id }))
                = t('links.edit.name')
              if currentUser && currentUser.id === task.creatorId
                form.d-inline-block(action=route('postDeleteTask', { id: task.id }) method='post')
                  input(name='_method' type='hidden' value='DELETE')
                  button.btn.btn-sm.btn-danger(type='submit')= t('views.task.delete.submit')